# Data (never commit)
data/raw/*
data/interim/
data/processed/

# But DO commit the instruction README
!data/raw/
!data/raw/README.md


# Power BI temp & backups
*.pbi*
*.pbix~*
*.tmp

# Python
__pycache__/
*.pyc
.venv/
venv/
.env
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

!data/raw/README.md

